<p id="notice"><%= notice %></p>

<p>
  <b> ID:</b>
  <%= @document.id %>
</p>
<p>
  <b>Name:</b>
  <%= link_to @document.name,    'http://ramikhalaf.dreamhosters.com/uploads' + @document.name %>
</p>

<p>
<%# 
<p>
  <b> Size:</b>
  <%= @document.size %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
